.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 255px;
  height: auto;
  background: #ebebeb;
}

@media (max-width: 500px) {
  .flex-container {
    width: 55vw;
  }
}

.flex-display {
  font-size: xx-large;
  font-weight: normal;
  width: 100%;
  height: 4rem;
  margin: .2em .2em;
  text-align: right;
}

.flex-btns {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 2px;
  align-items: stretch;
  margin: .2em;
}

.flex-btns input[type="button"] {
  width: 60px;
  border: 0;
  height: 7vh;
}

.general-btns { /* CLEAR, CLEAR ENTRY, = */
  background-color: #d4d4d4;
}

.op-btns { /* e.g +, -, *, division */
  background-color: #adc0e0;
}

.keypad-btns { /* 1, 2, 3, ... */
  background-color: #fbfbfb;
  font-weight: 500;
  font-size: large;
}

.sign-btns { /* %, √, x², ⅟, ... */
  background-color: #e0b598;
}

.delete-btn {
  background-color: #f89292;
}
